body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #f0f8ff;
font-family: sans-serif;
font-size: 1em;
color: #59429d;
}

input, select, button {
  font-family: sans-serif;
font-size: 1em;
color: #59429d;
border-radius: 5px;
  height: 1.5rem;
}



